<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">{{role}} Dashboard</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Welcome to {{role | titlecase}} Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-4">
            <div class="card overflow-hidden">
                <div class="bg-primary bg-soft">
                    <div class="row">
                        <div class="col-7">
                            <div class="text-primary p-3">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <p>{{role | titlecase}} Dashboard</p>
                            </div>
                        </div>
                        <div class="col-5 align-self-end">
                            <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="avatar-md profile-user-wid mb-4">
                                <img src="assets/images/user.png" alt="" class="img-thumbnail rounded-circle">
                            </div>
                            <h5 class="font-size-15 text-truncate">{{name}}</h5>
                            <p class="text-muted mb-0 text-truncate">{{role | titlecase}}</p>
                        </div>

                        <div class="col-sm-8">
                            <div class="pt-4">

                              <div class="row">
                                <div class="col-6">
                                    <h5 class="font-size-15">{{totalCount}}</h5>
                                    <p class="text-muted mb-0">Total Votes</p>
                                </div>
                            </div>
                                <div class="mt-4 mb-2">
                                    <a class="btn btn-primary btn-sm text-white" (click)="setupData()">Setup Nominees
                                       <i class="mdi mdi-arrow-right ms-1"></i></a>
                                </div>
                                <div>
                                  <a class="btn btn-danger btn-sm text-white" data-toggle="modal" data-target="#resetNominees">Reset Nominees
                                    <i class="mdi mdi-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-4">Polling Results</h4>
                  <div *ngIf="dataPresent;else elseBlock">
                    <div class="form-check form-switch form-switch-md mb-3 d-flex justify-content-end">
                      <input type="checkbox" id="check" checked="" class="form-check-input" (change)="change()">
                      <label  for="check" class="form-check-label">Table View</label>
                  </div>
                    <canvas *ngIf="!showTable" baseChart
                    [labels]="doughnutChartLabels"
                    [datasets]="doughnutChartDatasets"
                    [options]="doughnutChartOptions"
                    [legend]="true"
                    [type]="'doughnut'">
                    </canvas>
                    
                    <table *ngIf="showTable" class="table table-striped table-bordered">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Nominee</th>
                          <th scope="col">Votes</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let nominee of nominees;let i = index">
                          <td>{{nominee.name}}</td>
                          <td>{{nominee.votes}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <ng-template #elseBlock>
                  <div class="text-center text-success font-weight-bold">Polling Not Started</div>
                </ng-template>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4">Polling Results</h4>
                    </div>
                    <canvas *ngIf="dataPresent;else elseBlock1" baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [type]="'bar'">
                    </canvas>
                    <ng-template #elseBlock1>
                      <div class="text-center text-success font-weight-bold">Polling Not Started</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div> <!-- container-fluid -->

<div class="modal fade custom-class" id="resetNominees" tabindex="-1" role="dialog" aria-labelledby="resetNominees"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-header border-bottom-0">
      <h5>Sure to reset nominees</h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
    </div>
    <div class="modal-body">
      <div class="account-pages">
        <div class="container">
          <button class="btn btn-danger btn-block" (click)="clearData()">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>