<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">{{role}} Dashboard</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Welcome to {{role | titlecase}} Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-4">
            <div class="card overflow-hidden">
                <div class="bg-primary bg-soft">
                    <div class="row">
                        <div class="col-7">
                            <div class="text-primary p-3">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <p>{{role | titlecase}} Dashboard</p>
                            </div>
                        </div>
                        <div class="col-5 align-self-end">
                            <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="avatar-md profile-user-wid mb-4">
                                <img src="assets/images/user.png" alt="" class="img-thumbnail rounded-circle">
                            </div>
                            <h5 class="font-size-15 text-truncate">{{name}}</h5>
                            <p class="text-muted mb-0 text-truncate">{{role | titlecase}}</p>
                        </div>

                        <div class="col-sm-8">
                            <div class="pt-4">

                              <div class="row">
                                <div class="col-6">
                                    <h5 class="font-size-15">{{upcoming}}</h5>
                                    <p class="text-muted mb-0">Total Votes</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="font-size-15">{{completed}}</h5>
                                    <p class="text-muted mb-0">Completed</p>
                                </div>
                            </div>
                                <div class="mt-4">
                                    <a class="btn btn-primary btn-sm text-white" (click)="setupData()">Setup Data
                                       <i class="mdi mdi-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-4">Delivery Statistics</h4>
                  <canvas *ngIf="doughnutChartDatasets;else elseBlock" baseChart
                  [labels]="doughnutChartLabels"
                  [datasets]="doughnutChartDatasets"
                  [options]="doughnutChartOptions"
                  [legend]="true"
                  [type]="'doughnut'">
                  </canvas>
                <ng-template #elseBlock>
                  <div class="text-center text-success font-weight-bold">No Deliveries</div>
                </ng-template>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
          <div class="row">
            <div *ngFor="let stat of statData" class="col-md-4">
              <div class="card mini-stats-wid">
                <div class="card-body">
                  <div class="media">
                    <div class="media-body">
                      <p class="text-muted fw-medium">{{stat.title}}</p>
                      <h4 class="mb-0">{{stat.value}}</h4>
                    </div>
              
                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                      <span class="avatar-title">
                        <i class="bx {{stat.icon}} font-size-24"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- end card-body -->
              </div>
              <!-- end card -->
            </div>
          </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4">Order Frequency</h4>
                    </div>
                    <canvas baseChart
                    [type]="'line'"
                    [data]="lineChartData"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div *ngIf="deliveryOrders.length > 0" class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Deliveries Today</h5>
              </div>
              <div class="offset-2 col-4 mb-2">
                <input type="text" id="filter-text-box" 
                placeholder="Filter..." (input)="filter('0')"
                class="form-control"
              />
              </div>
            </div>
            <ag-grid-angular
            style="width: 100%; height: 400px"
            class="ag-theme-alpine"
            [rowData]="deliveryOrders"
            [columnDefs]="dashboardColumnDefs"
            [pagination]="pagination"
            [paginationPageSize]="10"
            [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)"
          >
          </ag-grid-angular>
          </div>
          <div *ngIf="deliveryOrders.length == 0" class="card-body">
            <h4 class="card-title">Deliveries Today</h4>
            <div class="text-success text-center font-weight-bold">No Deliveries Today</div>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div *ngIf="paymentPendingOrders.length > 0" class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Pending Payments</h5>
              </div>
              <div class="offset-2 col-4 mb-2">
                <input type="text" id="filter-text-box2" 
                placeholder="Filter..." (input)="filter('2')"
                class="form-control"/>
              </div>
            </div>
            <ag-grid-angular
            style="width: 100%; height: 400px"
            class="ag-theme-alpine"
            [rowData]="paymentPendingOrders"
            [columnDefs]="dashboardColumnDefs"
            [pagination]="pagination"
            [paginationPageSize]="10"
            [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady2($event)"
          >
          </ag-grid-angular>
          </div>
          <div *ngIf="paymentPendingOrders.length == 0" class="card-body">
            <h4 class="card-title">Pending Payments</h4>
            <div class="text-success text-center font-weight-bold">No Pending Payments</div>
          </div>
        </div>
      </div>
  </div>

</div> <!-- container-fluid -->