<!-- <footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{year}} © {{appName}}.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Need help?
                    <a class="mr-2" href="tel:{{userData.phone_number}}" [pTooltip]="userData.phone_number" tooltipPosition="top">
                        <button class="btn btn-success btn-rounded btn-icon icon">
                        <i class="mdi mdi-phone edit"></i>
                        </button>
                    </a>
                    <a href="mailto:{{userData.email}}" [pTooltip]="userData.email" tooltipPosition="top">
                        <button class="btn btn-info btn-rounded btn-icon icon">
                        <i class="mdi mdi-email edit"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer> -->