/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

.btn-soft-primary {
    color: #556ee6 !important;
    background-color: #556ee61a !important;
    border-color: transparent !important;
    transition: all .5s ease
}

.btn-soft-primary:hover,.btn-soft-primary:focus,.btn-soft-primary:active {
    color: #fff !important;
    background-color: #556ee6 !important;
    border-color: transparent
}

.btn-soft-secondary {
    color: #74788d !important;
    background-color: #74788d1a !important;
    border-color: transparent !important;
    transition: all .5s ease
}

.btn-soft-secondary:hover,.btn-soft-secondary:focus,.btn-soft-secondary:active {
    color: #fff !important;
    background-color: #74788d !important;
    border-color: transparent
}

.btn-soft-success {
    color: #34c38f !important;
    background-color: #34c38f1a !important;
    border-color: transparent !important;
    transition: all .5s ease
}

.btn-soft-success:hover,.btn-soft-success:focus,.btn-soft-success:active {
    color: #fff !important;
    background-color: #34c38f !important;
    border-color: transparent
}

.btn-soft-info {
    color: #50a5f1 !important;
    background-color: #50a5f11a !important;
    border-color: transparent !important;
    transition: all .5s ease
}

.btn-soft-info:hover,.btn-soft-info:focus,.btn-soft-info:active {
    color: #fff !important;
    background-color: #50a5f1 !important;
    border-color: transparent
}

.btn-soft-warning {
    color: #f1b44c !important;
    background-color: #f1b44c1a !important;
    border-color: transparent !important;
    transition: all .5s ease
}

.btn-soft-warning:hover,.btn-soft-warning:focus,.btn-soft-warning:active {
    color: #fff !important;
    background-color: #f1b44c !important;
    border-color: transparent
}

.btn-soft-danger {
    color: #f46a6a !important;
    background-color: #f46a6a1a !important;
    border-color: transparent !important;
    transition: all .5s ease
}

.btn-soft-danger:hover,.btn-soft-danger:focus,.btn-soft-danger:active {
    color: #fff !important;
    background-color: #f46a6a !important;
    border-color: transparent
}

.btn-soft-pink {
    color: #e83e8c !important;
    background-color: #e83e8c1a !important;
    border-color: transparent !important;
    transition: all .5s ease
}

.btn-soft-pink:hover,.btn-soft-pink:focus,.btn-soft-pink:active {
    color: #fff !important;
    background-color: #e83e8c !important;
    border-color: transparent
}

.btn-soft-light {
    color: #eff2f7 !important;
    background-color: #eff2f71a !important;
    border-color: transparent !important;
    transition: all .5s ease
}

.btn-soft-light:hover,.btn-soft-light:focus,.btn-soft-light:active {
    color: #fff !important;
    background-color: #eff2f7 !important;
    border-color: transparent
}

.btn-soft-dark {
    color: #343a40 !important;
    background-color: #343a401a !important;
    border-color: transparent !important;
    transition: all .5s ease
}

.btn-soft-dark:hover,.btn-soft-dark:focus,.btn-soft-dark:active {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: transparent
}

.ag-root ::-webkit-scrollbar {
    width: 7px;
    height: 7px
  }
  
  .ag-root ::-webkit-scrollbar-track-piece {
    background: #eee
  }
  .ag-root ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius : 5px;
  }
  
  .ag-root-wrapper { 
    border-radius: 5px !important;
  }

  select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="currentColor" d="M8 10.793l-4.896-4.896-.707.707L8 12.707l5.603-5.603-.707-.707z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1.5em auto;
}